    <!doctype html>
    <title>Output form</title>
    <div class=page>
      <h1>Here are the inputs</h1>
      <div class=metanav>
        <h4>                                                                                                                
          You are looking up ticker: {{d1}}
          for month: {{d2}}.      

          Plotting closing price data for one month.     		  

          Enter a new search below:
        </h4>
        
       <form id='userinfoform_lulu' method='post'>
          <p>
    	Ticker Name (Ex:A): <input type='text' name='ticket_input' />
          </p>
          <p>
    	Month (Ex:1999-11): <input type='text' name='date_input' />
          </p>
          <p>
    	<input type='submit' value='Submit' />
          </p>
        </form>
           
      </div>
    </div>
        