
    <!doctype html>
    <title>User Input</title>
    <div class=page>
      <h1>User input</h1>
      <div class=metanav>
        <h4>                                        
          Purpose of App: To accept a stock ticker input from the user and plots closing price data for one month (one of your choosing or perhaps one chosen by the user)  
        </h4>
        
        <form id='userinfoform_lulu' method='post'>
          <p>
    	Ticker Name (Ex:A): <input type='text' name='ticket_input' />
          </p>
          <p>
    	Month (Ex:1999-11): <input type='text' name='date_input' />
          </p>
          <p>
    	<input type='submit' value='Submit' />
          </p>
        </form>
        
      </div>
    </div>
        